# PlatformIO build files
.pio/
compile_commands.json
.pioenvs/
.piolibdeps/

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

.ref/
tools/icons/node_modules/
/package-lock.json

.env
data/res/manifest.json

# Temporary files
.cache/
*.swp
*.swo
*~
__pycache__/
*.pyc

managed_components/
.dummy/
